.dialog {
    background: rgba(237, 237, 237, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.dialog .close-dialog {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 20px;
    top: 20px;
    background: url('../img/close.svg') center center no-repeat;
    background-size: 2rem;
    cursor: pointer;
}

.choose-type {
    margin-top: 5rem;
    flex-direction: column;
    position: relative;
}

.choose-type textarea {
    width: 18rem;
    display: block;
    margin: 0 auto;
}

.button-large {
    width: 12rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #20a0ff;
    border-radius: 2px;
    display: block;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.choose-type input[type="file"] {
    opacity: 0;
    width: 12rem;
    height: 2.5rem;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -6rem;
    bottom: 0;
    cursor: pointer;
}

.dialog-form {
    width: 15rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.dialog-form .filed {
    margin-bottom: 0.5rem;
}

.dialog-form input {
    display: block;
    border: 1px solid #20a0ff;
    height: 1.7rem;
    line-height: 1.7rem;
    width: 100%;
}