@font-face {
    font-family: roboto;
    src: url('../font/Roboto-LightItalic.woff2');
}

html,
body {
    overflow-x: hidden;
    font-family: roboto, '微软雅黑', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    background: rgba(118, 160, 173, 0.2);
    font-size: 0.9rem;
}

.header {
    display: flex;
    height: 2.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.header a {
    display: block;
    flex: 1;
}

.header a.add {
    background: url('../img/add.svg') center center no-repeat;
    background-size: auto 1.3rem;
}

.header a.stop {
    background: url('../img/stop.svg') center center no-repeat;
    background-size: auto 1.3rem;
}

.header a.play {
    background: url('../img/play.svg') center center no-repeat;
    background-size: auto 1.3rem;
}

.header a.delete {
    background: url('../img/delete.svg') center center no-repeat;
    background-size: auto 1.3rem;
}

.header a.set {
    background: url('../img/set.svg') center center no-repeat;
    background-size: auto 1.3rem;
}

.header a.add:hover {
    background: url('../img/add_f.svg') center center no-repeat #dbdbdb;
    background-size: auto 1.3rem;
}

.header a.stop:hover {
    background: url('../img/stop_f.svg') center center no-repeat #dbdbdb;
    background-size: auto 1.3rem;
}

.header a.play:hover {
    background: url('../img/play_f.svg') center center no-repeat #dbdbdb;
    background-size: auto 1.3rem;
}

.header a.delete:hover {
    background: url('../img/delete_f.svg') center center no-repeat #dbdbdb;
    background-size: auto 1.3rem;
}

.header a.set:hover {
    background: url('../img/set_f.svg') center center no-repeat #dbdbdb;
    background-size: auto 1.3rem;
}

.list {
    height: 38rem;
}

.list-type {
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: 0.5rem;
    color: #383838;
    border-bottom: solid 1px #ccc;
    background: #b0e2ff;
    cursor: pointer;
}

.list-body {
    display: none;
}

.active .list-body {
    height: 30rem;
    overflow-y: auto;
    display: block;
}

.active .list-body li {
    zoom: 1;
    overflow: hidden;
    padding: 0.5rem 0.3rem;
    border-bottom: solid 1px #ccc;
    display: flex;
}


/*checkbox*/

.active .list-body li .select {
    max-width: 2rem;
    flex: 1;
    float: left;
    position: relative;
}

.active .list-body li .select input+label {
    width: 48%;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    -webkit-box-sizing: border-box;
}

.active .list-body li .select input+label::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #EEE;
    vertical-align: middle;
    border-radius: 2px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    transition: background ease-in .1s
}

.active .list-body li .select input[type="checkbox"]:checked+label::before {
    background-color: rgb(53, 183, 111);
    border: 1px #ccc solid;
}

.active .list-body li .select input {
    display: none;
}

.active .list-body li .info {
    flex: 11;
}

.label {
    color: #9c9c9c;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.progress {
    float: right;
    margin-right: 0.2rem;
}

.blue-text {
    color: #20a0ff;
}

.arrow {
    background: url('../img/more_unfold.svg') center center no-repeat;
    background-size: 1.2rem;
    width: 1.2rem;
    margin-right: 1rem;
    float: right;
}

.active .arrow {
    transform: rotate(180deg);
}

.null {
    display: block;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #4c4c4c;
}


/*dialog*/

.dialog {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.dialog .close-dialog {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 20px;
    top: 20px;
    background: url('../img/close.svg') center center no-repeat;
    background-size: 2rem;
    cursor: pointer;
}

.choose-type {
    margin-top: 5rem;
    flex-direction: column;
}

.choose-type textarea {
    width: 18rem;
    display: block;
    margin: 0 auto;
}

.button-large {
    font-size: 120%;
    margin-bottom: 10px;
    width: 15rem;
    height: 3rem;
    line-height: 3rem;
    background: #20a0ff;
    border-radius: 2px;
    display: block;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 0.2rem;
    padding: 0px;
}

.get-file {
    position: relative;
}

.get-file input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}